<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- <base href="{{global.github-url}}" > -->
  <base href="." >
  <title>{{title}}</title>
  <meta name="description" content="{{ global.description }}">
  <meta name="keywords" content="{{ global.meta-tag.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/github.min.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="css/frameworks-355fc5f5dc43030d495ea75b6bc8366695646a7566c13dd6ba2c2d358e1b5383.css">
  <link rel="stylesheet" href="css/site-429acc2fc05149afec2a05196b3100560f117f753931d0afca46da6e1eeafe39.css">

</head>
<body>
  <h1> Bài viết chi tiết của {{category}}</h1>
  <h3> {{description}} </h3>
  
    {{{contents}}}
  
</body>
</html>
